@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full overflow-x-hidden dark:text-gray-300 text-gray-600 font-normal bg-[#FAFAFD];

    &.dark {
      @apply bg-[#0f172a] text-gray-300;
    }
  }
  html,
  body {
    @apply h-full;
  }

  .DashSpace-app-wrapper {
    @apply relative;
  }
  .single-menu-item .ReactCollapse--collapse,
  .accordion .ReactCollapse--collapse,
  .ReactCollapse--collapse {
    transition: height 400ms;
  }

  .space-xy > :not([hidden]) {
    @apply mr-[10px] mb-[10px];
  }
  .space-xy-6 {
    > div,
    > button,
    > a,
    label,
    > * {
      @apply mr-4 mb-2;
    }
  }

  html[dir="rtl"] {
    .recharts-wrapper {
      direction: rtl;
    }
    .recharts-yAxis {
      .recharts-text {
        text-anchor: start;
      }
    }
  }
  .DashSpace-app {
    .leaflet-control {
      z-index: 0 !important;
    }
    .leaflet-control-container {
      z-index: 555 !important;
      position: relative;
    }
    .recharts-curve.recharts-tooltip-cursor {
      display: none;
    }
    .recharts-wrapper.bar-chart {
      .recharts-tooltip-cursor {
        fill: transparent;
      }
    }
    .recharts-tooltip-wrapper {
      border: none !important;
    }
  }
}
@layer components {
  @import "components/table.scss";
  @import "components/map.scss";
  @import "components/progress";
  @import "components/tippy";
  @import "components/swiper";
  @import "components/alert";
  @import "components/card";
  @import "components/auth";
  @import "components/timeline";
  @import "components/button";
  @import "components/badge";
  @import "components/typography";
  @import "components/form";
  @import "components/input-group";
  @import "components/react-select";
  @import "components/pagination";
  @import "components/breadcrumbs";
  @import "layout/header";
  @import "layout/footer";
  @import "layout/sidebar";
  @import "layout/settings";
  @import "utility/mix";
  @import "utility/loading";
  @import "utility/css-animation";
  @import "utility/calander";
  @import "utility/full-calender";
  @import "components/print.scss";
}
@layer utilities {
}
